.bar-container {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 15px;
    height: 310px;

    .tooltip-title {
        text-align: center;
    }
}


.pie-container {
    display: flex;
    .recharts-wrapper {
        width: 100% !important;
        text-align: center;
    }
    .recharts-legend-wrapper {
        width: 100% !important;
    }
}

.custom-tooltip {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
    border-radius: 12px;
    padding: 10px;
}

.no-data-text {
    padding: 50px;
    text-align: center;
}